<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/MediaPlayer_GdPII_VA10/src/studiplayer/ui/Player.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="studiplayer.ui.Player"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="MediaPlayer_GdPII_VA10"/>
</launchConfiguration>
